

.list-item {
    padding: 10px 10px 10px 10px;
    list-style: none;
    box-shadow: 1px 1px 2px 2px #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.list-item i.actions {
    margin-top: 5px;
    display: block;
    border-top: 1px dashed #ccc;
    padding-top: 5px;
    cursor: pointer;
}

.list-item hr {
    border-color: #ccc; 
}

.list-item h2 {
    margin: 2px 0px 2px 0px;
}

.no-task {
    text-align: center;
    color: #bbb;
}

img {
    float: right;
    margin-top: -35px;
}